/* ===== Universal Things ===== */

:root {
    //* FONT-SIZES
    --fs-heading-big: 4rem;
    --fs-heading: 3rem;
    --fs-title: 2.5rem;
    --fs-text-big: 2rem;
    --fs-text: 1.5rem;

}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // ! This defines what 1rem is.
    font-size: 62.5%;
    box-sizing: border-box;
    min-height: 100vh;
    scroll-behavior: smooth;

}

body {
    box-sizing: border-box;
    min-height: 100vh;
    // min-height: 100vh;
    // min-width: 100vw;
    // display: grid;
    // place-items: center;
    overflow-x: hidden;
    // overflow-y: scroll;
    scroll-behavior: smooth;
    font-family: "Poppins";
}

.overflow {
    overflow: hidden;
}