.colorInput {
    display: flex;
    flex-direction: column;

    grid-column: 1 / 1;
    grid-row: 3 / 3;

    justify-self: center;
    align-self: start;

    margin-top: 5rem;

    &--input {
        padding: 2rem .5rem;
        font-size: var(--fs-text-big);
    }

    &--btn {
        padding: 2rem .5rem;
        font-size: var(--fs-text-big);
    }
}