.coloredSquare {
    border: .5rem solid #000;
    border-radius: 2rem;
    height: 40rem;
    width: 40rem;

    display: flex;
    justify-content: center;
    align-items: center;

    grid-column: 1 / 1;
    grid-row: 2 / 2;
    place-self: center;

    &-text {
        font-family: "Poppins", sans-serif;
        font-size: var(--fs-heading);
    }

    &-text2 {
        font-family: "Poppins", sans-serif;
        font-size: var(--fs-text-big);
    }
}